.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(120deg, #000000,#292626);
  min-height: 100vh;

}

.tabs{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width:20%;
  justify-content: space-between;
}

.tab{
  background-color: white;
  border:1px solid black ;
  border-radius: 12px;
  padding: 10px;
  font-size: 16px;
  
}
.active-tab{
  background-color: #00feba;
  border:1px solid ;
    border-radius: 12px;
  font-size: 16px;
  color: white;

}

@media (max-width: 768px) {
  .tabs {
    width: 50%;
  }

  .tab,
  .active-tab {
    font-size: 14px;
    padding: 8px;
  }
}

/* Responsive for mobile */
@media screen and (max-width: 576px) {
  .tabs {
    width: 90%;
    margin: 5% auto 0 auto;
  }

  .tab,
  .active-tab {
    font-size: 12px;
    padding: 6px;
    width: 100%;
  }
}